*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

html{
    background-image: url(https://i.pinimg.com/originals/89/6a/73/896a7316c592ed79c6be5338b1251656.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}